<!DOCTYPE>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="ISO-8859-1">
        <title>Lista de Autores</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
  
<body>
       
    <div class ="container m-5" >
  
      <table class="table-info">Autores
  <thead>
    <tr>
      <th scope="col">Id del Autor</th>
      <th scope="col">Nombre del Autor</th>
        <th scope="col">Acciones</th>
      
     
    </tr>
  </thead>
  <tbody th:each="autor : ${autores}">
    <tr>
      <th scope="row" th:text="${autor.id}"></th>
      <td th:text="${autor.nombre}"></td>
      <td>
          <a th:href="@{/autor/modificar/__${autor.id}__}"><i class="fas fa-featther-alt"></i>Modificar</a>
      </td>
    </tr>
   
  </tbody>
</table>

    
      <div th:if="${err != null}" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-tittle">Error!!!</h5>
                        <p class="card-text" th:text = "${err}"></p>
                    </div>
                </div>
                <div th:if="${exito != null}" class="card text-white bg-danger mb-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-tittle">EXITO!!!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div> 
                </div>  
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body> 
</html>

